* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

.btn {
    display: block;
    padding: .55rem 1.5rem;
    border-radius: 25px;
    border: 1px solid white;
    transition: all .3s ease-in-out;
}

.btn-dark {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    background-color: whitesmoke;
    color: black;
}

.btn-light {
    background-color: white;
    color: black;
}

.btn-light:hover {
    background-color: black;
    color: whitesmoke;
}

body {
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(8, 8, 27);
    max-width: 11700px;
    padding: 0 3rem;
    height: 70px;
}

h1 {
    font-weight: bold;
    color: white;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    margin: 0 1rem;
    transition: all .3s ease-in-out;
}

.nav li:hover {
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.mobile-nav {
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
    display: grid;
    align-items: center;
    position: relative;
    display: none;
}

.nav-toggle {
    height: 5px;
    width: 50px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.nav-toggle:nth-child(1) {
    top: 25%;
}

.nav-toggle:nth-child(3) {
    top: 75%;
}


.mobile-nav .nav-toggle:nth-child(1).open {
   transform: rotate(45deg);
}


.mobile-nav .nav-toggle:nth-child(2).open {
  display: none;
}

.mobile-nav .nav-toggle:nth-child(3).open {
    transform: rotate(-45deg);
}

.mobile-menu {
    position: absolute;
    top: 70px;
    right: -100%;
    background-color: rgb(3, 1, 1);
    height: 70%;
    width: 65%;
    border-bottom-left-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu .nav {
    display: flex;
    flex-direction: column;
    margin-top: calc(6rem - 6px);
    gap: 2rem;
    margin-bottom: 2rem;
}

.menu-button {
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.menu-button a {
    margin: 0 10px;
}




















@media only screen and (max-width: 500px) {
    .container {
        padding: 0 1rem;
    }

    .nav, .button {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}